* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    left:50%;
    top:15%;
    height:50px;
    width:375px;
    margin-top: -25px;
    margin-left: -187px;
    text-align:center;
}

.google-custom-button {
    width: 200px !important;
    background: #dd4b39 !important;
    color: white !important;
}

.fb-custom-button {
    width: 200px !important;
    background: #4f6aa3 !important;
    -webkit-box-shadow: inset 0 1px 0 #45619d !important;
    box-shadow: inset 0 1px 0 #45619d !important;
    color: white !important;
}

.new-card{
    background: #a94442;
}
/*
#login a {
    border-radius: 5px;
    color: white;
    background: blue;
    font-size: larger;
    padding: 10px 20px;
}

#login a:active {
    background: darkblue;
}

#login p {
    word-wrap: break-word;
}
*/