
<% for(var i=0; i<followers.length; i++) {%>
 
   <div class="col-xs-12" id="user-<%=i%>"><a href="#javascript:ls.showUserCard(<%=i%>);"><img src="<%= followers[i].picture %>" alt="<%= followers[i].username %>" class="img-circle" height="140px" width="140px"/></a></div>
<% } %>