<div class="row">
	<div id="photo" class="col-xs-8 fullsize">
		<div class="item" style="display: inline;">
			<img class="img-card" src="http://maps.googleapis.com/maps/api/staticmap?zoom=5&size=500x600&sensor=true&markers=<%=geo.split(" ")[0]%>,<%=geo.split(" ")[1]%>">
		</div>
	</div>
	<div id="photo_right" class="col-xs-4 fullsize">		
	</div>

	<div style="position:fixed; top:<%= infoStampTop %>px; left:<%= infoStampLeft %>px;">
		<img src="img/stamp1.png" width="210px" height="238px">
	</div>
	<div style="position:fixed; top:<%= infoUserPicTop %>px; left:<%= infoUserPicLeft %>px;">
		<img src="<%= user.picture %>" alt="<%= user.username %>" width="190px" height="218px"/>
	</div>
	
	<div style="position:fixed; top:<%= infoDataTop %>px; left:<%= infoDataLeft %>px; text-align: left; padding-left: 20px; padding-right: 20px;">
		<div class="row" style="font-size: 30px;">
			Greetings from
		</div>
		<div class="row" style="font-size: 30px;">
			<%= short_location %>
		</div>
		<div class="row" style="font-size: 30px;">
			Love, 
		</div>
		<div class="row large" style="font-weight: bold; font-size: 30px; text-align: right;">
			<%= short_name %>
		</div>
	</div>

	<!--
	<div style="position:fixed; top:<%= infoDataTop %>px; left:<%= infoDataLeft %>px; text-align: left;">
		<div class="row large" style="font-weight: bold; font-size: 30px;">
			<%= user.username %>
		</div>
		<div class="row" style="font-size: 30px;">
			<%= info %>
		</div>
		<div class="row" style="font-size: 30px;">
			<%= location %>
		</div>
	</div>
	-->

	<div style="position:fixed; top:<%= infoWeatherTop %>px; left:<%= infoWeatherLeft %>px; opacity:0.8;">
		<img src="<%= weatherImg %>" height="200px" width="200px">
	</div>
	<div style="position:fixed; top:<%= infoAgeTop %>px; left:<%= infoAgeLeft %>px; text-align: center; padding-left: 20px;" padding-right: 20px;">
		<div class="row large" style="font-weight: bold; font-size: 30px;">
			<%= cardAge %>
		</div>
	</div>
</div>
