<div class="row">

	<div id="photo" class="col-xs-12 fullsize">
		<div id="photo_data" class="col-xs-12" style="height:<%= infoDataHeight %>px;">
			<div id="photo" class="col-xs-2">
				<div style="position:fixed; top:<%= infoAgeTop %>px; left:<%= infoAgeLeft %>px; text-align: center; padding-left: 20px;" padding-right: 20px;">
					<div class="row large" style="font-weight: bold; font-size: 30px;">
						<%= cardAge %>
					</div>
				</div>
			</div>
			<div id="photo" class="col-xs-8">
				<div class="col-xs-7" style="position:fixed; top:<%= infoDataTop %>px; left:<%= infoDataLeft %>px; text-align: right; padding-left: 20px; padding-right: 20px;">
					<div style="font-weight: bold; font-size: 30px;">
					<!-- <div class="row large" style="font-weight: bold; font-size: 30px;"> -->
						<%= user.username %>
					</div>
					<div style="font-size: 25px;">
					<!-- <div class="row" style="font-size: 25px;"> -->
						<%= info %>&nbsp<%= location %>
					</div>
				</div>
			</div>
			<div id="photo" class="col-xs-2">
				<div style="position:fixed; top:<%= infoStampTop %>px; left:<%= infoStampLeft %>px;">
					<img src="img/stamp.png" width="119px" height="119px">
				</div>
				<div style="position:fixed; top:<%= infoUserPicTop %>px; left:<%= infoUserPicLeft %>px;">
					<img src="<%= user.picture %>" alt="<%= user.username %>" width="109px" height="109px"/>
				</div>
			</div>
		</div>
		<div class="item" style="height:<%= infoMapHeight %>px;">
			<img class="img-card" src="http://maps.googleapis.com/maps/api/staticmap?zoom=5&size=750x500&sensor=true&markers=<%=geo.split(" ")[0]%>,<%=geo.split(" ")[1]%>">
		</div>
	</div>
	</div>
		<div style="position:fixed; top:<%= infoWeatherTop %>px; left:<%= infoWeatherLeft %>px; opacity:1;">
		<img src="<%= weatherImg %>" height="200px" width="200px">
	</div>
</div>
