	<div class="row gray">
					<div id="photo" class="col-xs-12 gray fullsize">
   							<div class="item" style="display: inline"><img class="img-card" src="<%= photo %>" /></div>
					</div>
				</div>