<div id="videoCallHeader" style="position:fixed; top: 0px; left: 0px; width:800px; height: 80px; background-image: url(img/layout/top-bar-lifeshare.png); background-size: 100% 100%; opacity: 0.6; z-index:3;">
</div>
<div id="otherPublisherDiv" style="position:fixed; top:<%= callerVideoTop %>px; left:<%= callerVideoLeft %>px; z-index:0;"></div>
<div id="myPublisherDiv" style="position:fixed; top:<%= myVideoTop %>px; left:<%= myVideoLeft %>px; z-index:2;"></div>
<button id="btnEndVideoCall" style="position:relative; background: red; color: white; width: 350px; height: 50px; font-size: large; top:<%= buttonTop %>px; left:<%= buttonLeft %>px; z-index:4;">END CALL</button>


<!--
<div class="row">
    <div id="video_call_frame" class="col-xs-12 fullsize" style="position:absolute;">
        <div id="otherPublisherDiv" style="position:relative; top:<%= callerVideoTop %>px; left:<%= callerVideoLeft %>px; z-index:0;"></div>
        

        <div id="myPublisherDiv" style="position:relative; top:<%= myVideoTop %>px; left:<%= myVideoLeft %>px; z-index:2;"></div>
        <button id="btnEndVideoCall" style="position:fixed; background: red; color: white; width: 350px; height: 50px; font-size: large; top:<%= buttonTop %>px; left:<%= buttonLeft %>px; z-index:4;">END CALL</button>
    </div>
</div>
-->

<!--
<div style="position:relative; top:<%= bottomBarTop %>px; height: <%= bottomBarHeight %>px; z-index:2;">
            <div class="row">
                <div class="col-xs-6" style="background: blue;">
                    <button id="btnEndVideoCall" style="position:relative; background: red; color: white; width: 350px; height: 50px; font-size: large; z-index:1;">END CALL</button>
                </div>
                <div class="col-xs-6" style="background: green;">
                    <div id="myPublisherDiv" style+"z-index:2;"></div>
                </div>
            </div>
            
        </div>


<div style="position:relative; top:<%= bottomBarTop %>px; height: 100px; z-index:3;">
    <button id="btnEndVideoCall" style="background: red; color: white; width: 350px; height: 50px; font-size: large;">END CALL</button>
</div>
-->