<div class="row">
	<div id="photo" class="col-xs-12 gray fullsize">
		<% for(var i=0; i<photo.length; i++) {%>
				<div class="item" style="display: inline"><img class="img-card" src="<%= photo[i] %>" /></div>
		<% } %>
	</div>


	<div style="width:<%= infoBarWidth %>px; height:100px; position:fixed; top:<%= infoBarTop %>px; left:-5px; background-image: url(img/layout/underlying-bar.png); background-size: 100% 100%;">
		<div id="userPic" class="col-xs-1" style="padding-top:10px;">
			<img src="<%= user.picture %>" alt="<%= user.username %>" height="80px" width="80px" style="padding: 2px; background-color: white;" />
		</div>
		<div id="info" class="col-xs-7 large" style="font-family: lato; color: white; text-align: left; padding-top: 10px; padding-left: 20px;">
			<div style="font-weight: bold; font-size: 30px; "><%= user.username %></div>
			<div style+"font-size: 25px;"><%= info %>&nbsp;<%= location %></div>
		</div>
		<div class="col-xs-3 large" style="font-family: lato; font-weight: bold; font-size: 30px; color: white; text-align: left; padding-top:20px;">
			<%= cardAge %>
		</div>
		<div id="weather" class="col-xs-1 large" style="top:-10px; left:-60px;">
			<img src="<%= weatherImg %>" height="120px" width="120px">
		</div>
	</div>
</div>

	<!--<div id="created" class="col-xs-3 gray large" style="height: 75px; ">
		<%= created.split(".")[0].split(" ")[0] %> <br /> <%= created.split(".")[0].split(" ")[1] %> 
	</div>-->
	<!--<div id="photo" class="col-xs-12 fullsize" style="padding-top:10px;">-->
